body{
    background-image: url('../img/background.jpg');
    background-size: cover;       
    background-repeat: no-repeat; 
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}
.card{
    opacity: 95%;
   
}

.card-link{
    color: gray;
    font-weight: 400;
    text-decoration: underline;
}
.card-link:hover{
    color: black;
  }



.row{
    justify-content: center;
}
.nav-link{
    font-weight: 500;
    font-size: 1.3em;
    color: black !important;    
}

#error{
    visibility:hidden;
    align-self: flex-end;
}
.form-group{
    text-align: end;
}
.form-control{
    border:none;        
}
.form-control:focus{
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid lightgreen;
}
.thumbnail{
    height: 2px;
    width: 2px;
}