body {
    background: url('../img/back2.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.progress {
    position: fixed;
    top: 0;
    width: 100%;
    height: 1%;
    background: transparent;
}

.fill {
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, #30e8bf, #ff8235);
    transition: 0.3s;
}

.pageTitle {
    font-size: 2em;
    text-align: center;
    margin: 15px 0px;
    color: #fff;
}

.info {
    color: black;
    padding: 0px 15px;
    text-align: center;
    font-size: 1.5em;
}

.info li {
    display: inline;
    margin: 0px 50px;
    cursor: pointer;
    font-size: 0.7em;
    transition: ease 0.3s;
}

.info li:active {
    font-size: 0.8em;
    transition: ease 0.2s;
}

.darkBtn {
    position: fixed;
    right: 0px;
    bottom: 90px;
    border: none;
    background-color: darkgrey;
    height: 2em;
    width: 2.3em;
    cursor: pointer;
}

.gitBtn {
    position: fixed;
    right: 0px;
    bottom: 140px;
    border: none;
    background-color: darkgrey;
    height: 2em;
    width: 2.3em;
    cursor: pointer;
    color: black;
}

.dark-mode {
    background: url('../img/dark-back.jpg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgBtn {
    position: absolute;
    right: 0px;
    bottom: 140px;
    border: none;
    background-color: darkgrey;
    height: 2em;
    width: 2.3em;
}

.btn {
    display: block;
    margin: 5px auto;
}

.nxtBtn {
    background-color: #db3450;
}

section {
    padding: 25px 40px;
    opacity: 65%;
}

#loader {
    margin: 100px auto;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #db3450;
    border-radius: 50%;
    animation: spin 2s linear infinite, heart-beat 2s linear infinite;
    background-color: #fff;
    text-align: center;
    line-height: 120px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes heart-beat {
    0% {
        background-color: #db3450;
    }
    50% {
        background-color: transparent;
    }
    100% {
        background-color: #db3450;
    }
}

@media (min-width: 200px) {
    .image {
        display: none;
    }
}