body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

.card {
    opacity: 95%;
}

.passInput {
    margin: 15px 0px;
}

.card-link {
    color: gray;
    font-weight: 400;
    text-decoration: underline;
}

.card-link:hover {
    color: black;
}

.row {
    justify-content: center;
}

.nav-link {
    font-weight: 500;
    font-size: 1.3em;
    color: black !important;
}

#error {
    visibility: hidden;
    align-self: flex-end;
}

.form-control {
    border: none;
}

.form-control:focus {
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid lightgreen;
}

.formSection {
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
}

.row {
    padding: 50px 25px
}

#mNature,
#sNature {
    display: inline-block;
    font-size: 0.8em;
}

#starterQuantity,
#mainQuantity,
#drinkQuantity {
    width: 2rem;
}