body {
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    background-attachment: fixed;
}

.card {
    opacity: 95%;
}

.passInput {
    margin: 15px 0px;
}

#mybtn {
    visibility: hidden;
}

.card-link {
    color: gray;
    font-weight: 400;
    text-decoration: underline;
}

.card-link:hover {
    color: black;
}

.row {
    justify-content: center;
}

.nav-link {
    font-weight: 500;
    font-size: 1.3em;
    color: black !important;
}

#error {
    visibility: hidden;
    align-self: flex-end;
}

.form-control {
    border: none;
}

.form-control:focus {
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid lightgreen;
}

.user-card p {
    font-size: 12px;
}

.menu-item {
    padding: 0px 10px;
}

.add-to-cart-btn {
    font-size: 1em;
    position: absolute;
    right: 30px;
}

.remove-btn {
    font-size: 1em;
    position: absolute;
    right: 70px;
}

#section1 {
    height: 90vh;
    align-items: center;
}

#section2 {
    display: none;
}

#section3 {
    background: rgba(255, 255, 255, 0.8);
    margin: 15px 0px;
    display: none;
    border-radius: 10px;
}

.row {
    padding: 50px 25px
}

.cart-price {
    font-size: 0.7em;
}

#mNature,
#sNature {
    display: inline-block;
    font-size: 0.8em;
}


/* #invokeBtn {
    margin-top: 25px;
    margin-left: 0;
} */


/* @media (min-width: 576px) {
    #invokeBtn {
        margin-left: 50%;
    }
} */

.cart-total {
    font-size: 14px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    padding-bottom: 30px;
}

.action-btn {
    margin-left: 20px;
}